$sidebar-bg: #363740;
$sidebar-list: #a4a6b3;
$grayscale-black: #252733;
$grayscale-gray: rgba(159, 162, 180, 0.3);
$labels-cl: #878787;
$labels-list: #414141;
$green-cl: #00ca39;
$pink-cl: #e44067;
$yellow: #fec400;
$h2-fz: 3.9rem;
$h2-lh: 1.2;
$h2-cl: #000000;

$main-fz: 1.6rem;
$main-lh: 1.25;

$h3-fz: 1.9rem;
$h3-lh: 1.2;

$h5-fz: 1.4rem;
$h5-lh: 1.2;

$text-fz: 1.4rem;
$text-lh: 1.4;

$font-first: "Mulish", sans-serif;
$font-second: "Lato", sans-serif;
